/*Colores principales*/
:root{
--redNooct: #9a0239;
--yellowNooct: #fcba00;
--greenNooct:#00cec9;
}
.btn-nooctRed {
color: #fff;
background-color: var(--redNooct);
border-color: var(--redNooct);
box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
cursor: pointer;
}
.btn-nooctRed:hover {
color: #fff;
background-color: var(--redNooct);
border-color: var(--redNooct);
}

.btn-nooctGreen {
color: #fff;
background-color: var(--greenNooct);
border-color: var(--greenNooct);
box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
cursor: pointer;
}
.btn-nooctGreen:hover {
color: #fff;
background-color: var(--greenNooct);
border-color: var(--greenNooct);
}
.btn-outline-NooctRed {
color: var(--redNooct);
background-color: transparent;
background-image: none;
border-color: var(--redNooct);
}

.btn-outline-NooctRed:hover {
color: #fff;
background-color: var(--redNooct);
border-color: var(--redNooct);
}
.color-nooct{
color: var(--redNooct);
}


/*Card perfil*/
.container-infor {
transform-style: preserve-3d;
transition: all 0.5s linear;
}
.carta-box .container-infor {
transform: rotateY(180deg);
}

.info {
position: absolute;
backface-visibility: hidden;
left: 0;
right: 0;
margin: auto;
}

.info.edit-info {
transform: rotateY(180deg);
}

.noBorder{
border: none !important;
}
.noShadow{
box-shadow:none !important;
}
.font-12{
    font-size: 12px;
    text-align: justify;
}



img.foto {
width: 100px;
}
.header.py-lg-8.pt-3 {
z-index: 1;
}
.text-redNoocturno{
color: #8b1640;
}



.col-md-3.imagenFix img {
width: 100%;
}
button {
outline: none !important;
}
img#previsualizacion {
width: 100%;
}

.input-file-container {
position: relative;
width: 100%;
}
.js .input-file-trigger {
display: block;
padding: 14px 45px;
background: #39d2b4;
color: #fff;
font-size: 1em;
transition: all 0.4s;
cursor: pointer;
border-radius: 5px;
}
.js .input-file {
position: absolute;
top: 0;
left: 0;
width: 100%;
opacity: 0;
padding: 14px 0;
cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
background: #34495e;
color: #39d2b4;
}

.file-return {
margin: 0;
}
.file-return:not(:empty) {
margin: 1em 0;
}
.js .file-return {
font-style: italic;
font-size: 12px;
font-weight: bold;
display: grid;
}
.js .file-return:not(:empty):before {
content: "Archivo seleccionado";
font-style: normal;
font-weight: normal;
}

.alert{
position: absolute;
top: -90px;
left: 0;
right: 0;
margin: auto;
z-index: 9;
transition: .5s ease all;
}



button.flotante_edit {
position: absolute;
top: 10px;
left: 10px;
padding: 0.4rem 1rem !important;
}

button.flotante_delete {
position: absolute;
top: 10px;
right: 10px;
padding: 0.4rem 1rem !important;
}
.header.flex-column-reverse {
flex-direction: initial !important;
justify-content: flex-end;
}
@media (max-width:600px){
.header.flex-column-reverse {
flex-direction: column-reverse !important
}   
}

.number_error,.login_error{
display: none;
}





.loader div{
height: 10px;
width: 10px;
background: #39d2b4;
border-radius: 50%;
position: absolute;
-webkit-animation: animate 1.4s ease infinite;
}
div.loader{
display: block;
width: 200px;
position: absolute;
left: 0;
right: 0;
margin: auto;
top:0px;
}


.loader div:nth-child(2):nth-child(2) {
margin-left: 30px;
-webkit-animation-delay: .08s;
}

.loader div:nth-child(3):nth-child(3) {
margin-left: 60px;
-webkit-animation-delay: .16s;
}

.loader div:nth-child(4):nth-child(4) {
margin-left: 90px;
-webkit-animation-delay: .24s;
}

.loader div:nth-child(5){
margin-left: 120px;
-webkit-animation-delay: .32s;
}

.loader div:nth-child(6){
margin-left: 150px;
-webkit-animation-delay: .40s;
}

@-webkit-keyframes animate {
0%{left: 0px; top: 0px;}
5%{left: -2px; top: 4px; width: 24px; height: 16px; -webkit-filter: blur(0.1px);}
10%{left: -1px; top: 4px; width: 22px; height: 18px; -webkit-filter: blur(0.1px);} 
/*halfway up*/
15%{left: 1px; top: -17px; width: 18px; height: 22px; -webkit-filter: blur(0.3px);} 
/*top*/
22%{left: 0px; top: -34px; width: 20px; height: 20px; -webkit-filter: blur(0.2px);} 
/*halfway down*/
29%{left: 1px; top: -17px; width: 18px; height: 22px; -webkit-filter: blur(0.3px);} 
/*bottom*/
34%{left: 1px; top: 0px;  width: 18px; height: 22px; -webkit-filter: blur(0.2px);}
/*elastic bottom*/
40%{left: -1px; top: 4px; width: 22px; height: 18px; -webkit-filter: blur(0.1px);} 
/*end*/
43%{left: 0px; top: 0px; width: 15px; height: 15px;-webkit-filter: blur(0px)} 
100%{left: 0px; top: 0px;}
}
.color-greenpnt{
color: #39d2b4;
animation: opacityText 1s ease infinite;
animation-direction: alternate;
text-align: center;
}

@keyframes opacityText{
0%{
opacity: .1;
}
100%{
opacity: 1;
}
}